global
    maxconn 100
    log         /dev/log local0
    chroot      /var/lib/haproxy
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats hide-version
    stats show-node
    stats auth admin:admin

listen production
    bind *:5000
    option httpchk OPTIONS/master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pgsql01_5432 {{ pgsql_node1_ip}}:5432 maxconn 100 check port 8008
    server pgsql02_5432 {{ pgsql_node2_ip}}:5432 maxconn 100 check port 8008
    server pgsql03_5432 {{ pgsql_node3_ip}}:5432 maxconn 100 check port 8008

listen standby
    bind *:5001
    option httpchk OPTIONS/replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pgsql01_5432 {{ pgsql_node1_ip}}:5432 maxconn 100 check port 8008
    server pgsql02_5432 {{ pgsql_node2_ip}}:5432 maxconn 100 check port 8008
    server pgsql03_5432 {{ pgsql_node3_ip}}:5432 maxconn 100 check port 8008