global_defs {
    notification_email {
        {{ notification_mail }}
    }
    notification_email_from {{ notification_sender }}
    smtp_server smtp.endatamweel.tn
    smtp_connect_timeout 30
    router_id LVS_SLAVE_PGSQL
}

vrrp_script check_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI {
    state BACKUP
    interface {{ nic_device }}
    virtual_router_id 51
    unicast_src_ip {{ ipv4_address_LB_Slave }}
    unicast_peer {
        {{ ipv4_address_LB_Master }}
    }

    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ vip_ip_address }}
    }
    
    track_script {
        check_haproxy
    }
}
