[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
User=etcd
ExecStart=/usr/local/bin/etcd \
  --name "{{ etcd2_name }}" \
  --data-dir=/var/lib/etcd \
  --initial-advertise-peer-urls http://{{ etcd_node2_ip }}:2380 \
  --listen-peer-urls http://{{ etcd_node2_ip }}:2380 \
  --listen-client-urls http://localhost:2379,http://{{ etcd_node2_ip }}:2379 \
  --advertise-client-urls http://{{ etcd_node2_ip }}:2379 \
  --initial-cluster-token {{ etcd_cluster_name }} \
  --initial-cluster {{ etcd1_name }}=http://{{ etcd_node1_ip }}:2380,{{ etcd2_name }}=http://{{ etcd_node2_ip }}:2380,{{ etcd3_name }}=http://{{ etcd_node3_ip }}:2380 \
  --initial-cluster-state new

[Install]
WantedBy=multi-user.target